body {
  margin: 0;
  background-color: #7399C6;
  font-family: goldman-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */

code {
  font-family: goldman-sans;
}
/*
source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
*/
