.search-bar {
    height: 60vh;
    width: 70vh;
    float:left;
}

.notification-icon {
     height: 6vh;
     width: 6vh;
     float:left;
     margin-top: 1vh;
     margin-left: 1vh;
}

.hamburger-icon {
     height: 8vh;
     width: 8vh;
     float:left;
     margin-top: 0vh;
     margin-left: 0vh;
}