.search-bar {
    height: 60vh;
    width: 100vh;
    float:left;
}

.notification-icon {
     height: 4vh;
     width: 4vh;
     float:left;
     margin-top: 1vh;
     margin-left: 1vh;
}

.hamburger-icon {
     height: 5vh;
     width: 5vh;
     float:left;
     margin-top: 0.5vh;
     margin-left: 1vh;
}